<div class="container-fluid">
	<div class="row">
		<div class="jumbotron">

		</div>
		<br>
		<div class="col-md-6">
    	<div class="box">
			 <h3 class="text-center">Locally Owned</h3>
			</div>
	  </div>
		<div class="col-md-6">
	    <div class="box-right">
	      <h3 class="text-center">Tradional and Modern</h3> 
	    </div> 
	  </div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.9234528959378!2d-97.51463178525465!3d35.65425753905934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b21e6e651f2a97%3A0x23a52fab2fd5c59a!2sHouse+of+Hunan!5e0!3m2!1sen!2sus!4v1446877991586" width="1275" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<br/>
</div>