/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-inverse {
  background-color: black;
  z-index: 1000;
  overflow: hidden;
  opacity: 0.5;
}

.navbar-default {
  background-color: #F5FFFA;
  z-index: 1000;
  overflow: hidden;
  opacity: 0.9;
  font-family: "Courier New", Times, serif;
}

body {
	padding-top: 50px;
  background-color: #0F0F0F;
}

.nav.navbar-nav li a {
  color: white;
}

.nav {
  font-family: "Courier New", Times, serif;
}


.jumbotron {
  color: inherit;
  text-align: center;
  height: 625px;
  background: image-url('chinese7.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Courier New", Times, serif;
}

.box {
  background: image-url('chinese2.jpg');
  width: auto;
  height: 300px;
  padding: 10px;
  margin: 30px;
}

.box-right {
  background-color: white;
  background: image-url('chinese3.jpg');
  width: auto;
  height: 300px;
  padding: 10px;
  margin: 30px;
}